.ad-box-horizontal {
  margin-top: 4px;
  margin-bottom: 10px;
  position: relative;
  background-color: #fbf6e8;

  .desc {
    padding-top: 4px;
    padding-left: 119px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .ad-box__title {
    margin-bottom: 2px;
    color:  #bebebe;
    font-size: 10px;
    font-weight: 700;
  }

  .desc__title {
    margin-bottom: 2px;
    font-size: 13px;
    font-weight: 700;
  }

  .desc__text {
    font-size: 12px;
  }
}