@font-base: 'Noto Sans';
@font-second: 'Noto Serif';
@font-logo: 'Playfair Display';
@font-stack: @font-base, arial, sans-serif;
@text-color: #000;

@sm-screen: 320px;
@md-screen: 480px;
@lg-screen: 768px;

body {
  min-width: 320px;
  font: 400 14px/1.4 @font-stack;
  color: @text-color;
}

@media (min-width: @md-screen) {
  .body {
    width: 480px;
  }
}

@media (min-width: @lg-screen) {
  .body {
    width: 100%;
  }
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  min-width: 310px;
}

@media (min-width: @md-screen) {
  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
    width: 480px;
  }
}

@media (min-width: @lg-screen) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
    width: 730px;
  }
}

.text-uppercase {
  text-transform: uppercase;
}

.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.text-center {
  text-align: center;
}

.date-box {
  font-family: @font-second;
  line-height: 1;
}
.date-box__num {
  margin-bottom: 4px;
  font-size: 18px;
}


.md-show,
.lg-show {
  display: none !important;
}

@media (min-width: @md-screen) {
  .md-hide {
    display: none !important;
  }

  .md-show {
    display: block !important;
  }
}

@media (min-width: @lg-screen) {
  .date-box__num {
    margin-bottom: 3px;
    font-size: 36px;
  }

  .date-box__mon {
    font-size: 18px;
  }

  .lg-show {
    display: block !important;
  }
}
