.head-img__big {
  margin-bottom: 5px;
  position: relative;
  width: 310px;
  height: 202px;

  .date-box {
    padding: 8px;
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: rgba(255, 255, 255, 0.80);
  }

  figcaption {
    display: none;
  }
}

@media (min-width: @md-screen) {
  .head-img__big {
    margin-bottom: 10px;
    width: 440px;
    height: 286px;

    .date-box {
      top: 10px;
      left: 11px;
    }
  }
}

@media (min-width: @lg-screen) {
  .head-img__big {
    margin-bottom: 15px;
    width: 700px;
    height: auto;

    .date-box {
      padding: 20px 39px 27px;
      top: 20px;
      left: 20px;
    }

    figcaption {
      display: block;
      padding-top: 13px;
      position: relative;
      font-size: 13px;
      font-weight: 700;
      line-height: 18px;

      span {
        display: block;
        color: #acacac;
        font-size: 13px;
        font-weight: 400;
      }

      &:after {
        content: '';
        position: absolute;
        top: -8px;
        left: 50%;
        margin-left: -8px;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #fff;
      }
    }
  }
}