.main-header {
  padding-top: 18px;
  margin-bottom: 12px;
  position: relative;

  &__logo {
    padding-right: 18px;
    position: relative;
    z-index: 2;
    background-color: #fff;
    text-decoration: none;
    color: #010101;
    font-size: 26px;
    font-family: @font-logo;

    &:hover,
    &:focus,
    &:active,
    &:visited {
      text-decoration: none;
      color: #010101;
    }
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 8px;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: @text-color;
  }
}

@media (min-width: @md-screen) {
  .main-header {
    padding-top: 30px;
    margin-bottom: 20px;

    &__logo {
      padding-right: 18px;
      font-size: 40px;
    }

    &:after {
      bottom: 10px;
    }
  }
}

@media (min-width: @lg-screen) {
  .main-header {
    padding-top: 28px;

    &.logo {
      padding-right: 13px;
    }
  }
}