.list-img {
  margin-left: -6px;
}

.list-img__item {
  margin-left: 6px;
  margin-bottom: 6px;
  float: left;
  width: 73px;
  height: 48px;

  &.ad-box-horizontal {
    width: 310px;
    height: 80px;
  }

  .date-box {
    padding-top: 6px;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      right: 7px;
      top: 14px;
      width: 0;
      height: 0;
      border-top: 3px solid rgba(0, 0, 0, 0);
      border-bottom: 3px solid rgba(0, 0, 0, 0);
      border-left: 3px solid @text-color;
    }
  }
}

@media (min-width: @md-screen) {
  .list-img {
    margin-left: -10px;

    .list-img__item {
      margin-left: 10px;
      margin-bottom: 10px;
      width: 80px;
      height: 53px;

      &.ad-box-vertical {
        margin-bottom: -157px;
        margin-left: 20px;
        width: 160px;
        height: 220px;
      }
    }

    .date-box {
      padding-top: 7px;

      &:after {
        right: 10px;
        top: 15px;
      }
    }
  }
  @ad-margin: 7, 11, 14;
  .margin-generator(@index: 1) when (@index <= length(@ad-margin)) {
    @item: extract(@ad-margin, @index);

    .list-img__item:nth-child(@{item}){
      margin-right: 180px;
    }
    .margin-generator(@index + 1);
  }
  .margin-generator();
}

@media (min-width: @lg-screen) {
  .list-img {
    margin-left: -20px;

    .list-img__item {
      margin-left: 20px;
      margin-bottom: 20px;
      margin-right: 0 !important;
      width: 160px;
      height: 104px;

      &.ad-box-vertical {
        margin-bottom: -96px;
        margin-left: 20px;
        width: 160px;
        height: 220px;
      }
    }

    .date-box {
      padding-top: 22px;

      &:after {
        right: 21px;
        top: 39px;
      }
    }
  }

  @ad-margin: 7, 23;
  .margin-generator(@index: 1) when (@index <= length(@ad-margin)) {
    @item: extract(@ad-margin, @index);

      .list-img__item:nth-child(@{item}){
        margin-right: 180px !important;
      }
      .margin-generator(@index + 1);
    }
    .margin-generator();
}