.pagination {
  margin-top: 13px;
  margin-bottom: 30px;

  li {
    margin-right: 1px;
    float: left;

    &.pagination__next {
      margin-left: 22px;
    }
  }

  &__label {
    display: none;
  }

  a {
    width: 34px;
    height: 34px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    color: @text-color;
    font-size: 13px;
    line-height: 34px;
    border-radius: 50%;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      background-color: #e6e6e6;
      font-weight: 700;
    }
  }

  .active a {
    background-color: #e6e6e6;
    font-weight: 700;
  }

  .pagination__next a {
    width: auto;

    &:hover {
      background-color: rgba(255,255,255,0);
      font-weight: 400;
    }
  }
}

@media (min-width: @md-screen) {
  .pagination {
    margin-top: 19px;

    li {
      margin-right: 11px;

      &.pagination__next {
        margin-left: 11px;
      }

      &.pagination__label {
        margin-right: 27px;
        display: block;
        color: #848484;
        line-height: 34px;
        font-size: 13px;
      }
    }
  }
}